# /etc/systemd/network/wired.network
[Match]
Name=en*

[Network]
DHCP=yes
## to use static IP uncomment these instead of DHCP
#DNS=192.168.1.254
#Address=192.168.1.87/24
#Gateway=192.168.1.254
